<h1>Voici le Gossip...</h1>

<p><%= @gossip.content %></p>

<p></p>

<p><%= @gossip.anonymous_author%></p>

<%= link_to 'Clique pour détruire', @gossip, method: :delete %>
<p><%= link_to "Modifier le gossip", edit_gossip_path %></p>
<p><%= link_to "Retour à la liste des gossips", root_path %></p>